@charset "UTF-8";

@charset "UTF-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;outline:none}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Noto Sans', sans-serif;color:#666} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
a:active {background-color:transparent}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

#tistorytoolbarid { display:none }

/* global */
#dkIndex {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} /* 스킵네비게이션 */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.show {display:block}
.hide {display:none}
.emph_t{color:#3db39e}
.cont_skin{margin-top:80px}
.article_skin{width:820px;margin:0 auto}
.txt_bar{display:inline-block;width:1px;height:9px;margin:0 5px;background-color:#ebebeb}
.img_profile{float:left;margin-right:16px;border-radius:50px}
.ico_focused {outline: 1px dotted #000;outline: -webkit-focus-ring-color auto 5px}

/* 공통이미지 */
.ico_skin{display:inline-block;overflow:hidden;font-size:0;line-height:0;background:url("images/ico_skin.gif") 0 0 no-repeat;text-indent:-9999px}

/* 헤더 */
.wrap_skin{position:relative}
.area_head{position:fixed;top:0;left:0;z-index:10;width:100%;height:80px;border-bottom:1px solid #ebebeb;background-color:#fff;background-color:rgba(255,255,255,.95)}
.area_head:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
.area_head .area_profile{position:relative;float:left;padding:15px 0 0 30px}
.area_head .area_profile .link_profile { float:left }
.area_head .area_profile .info_profile { float:left; max-width:270px }

.area_head .btn_name{margin-top:5px;font-weight:bold;margin-bottom:2px}
.area_head .ico_name{width:10px;height:6px;margin:7px 0 0 6px;vertical-align:top}
.area_head .txt_condition{width:100%;font-size:12px;color:#aaa;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.area_head .list_name{display:none;position:absolute;top:44px;left:92px;border:1px solid #dcdcdc;border-radius:2px;background-color:#fff}
.area_head .on .list_name{display:block;width:112px;padding-top:13px;padding-bottom:2px}
.area_head .on .ico_name { background-position: 0 -632px; }
.area_head .link_name{display:block;padding-left:15px;margin-bottom:7px;text-decoration:none;color:#666}
.area_head .link_name:hover { text-decoration: underline; color:#3db39e}
.area_head .box_division{padding-top:13px;border-top:1px solid #f4f4f4;margin-top:9px}

.area_menu{ position:fixed; right:15px; top:21px;z-index:31}
.area_menu .area_search{display:inline-block;margin:0 2px;border:1px solid #ddd;border-radius:3px;vertical-align:top}
.area_menu .on.area_search{border:1px solid #aaa}
.area_menu .btn_search{width:40px;height:36px}
.area_menu .on .btn_search{display:none}
.area_menu .ico_search{width:16px;height:16px;margin-top:-1px;background-position:0 -25px;vertical-align:middle}
.area_menu .frm_search{display:none;overflow:hidden;width:210px;height:36px}
.area_menu .on .frm_search{display:block}
.area_menu .lab_search{float:left;width:16px;height:16px;margin:10px 9px 0 12px;background-position:0 -400px}
.area_menu .tf_search{float:left;width:150px;margin-top:9px;border:0 none;vertical-align:top;color:#333}
.area_menu .area_navi{display:inline-block;position:relative;margin:0 2px 0 3px}
.area_menu .btn_cate{width:160px;height:38px;border:1px solid #3db39e;border-radius:3px;font-weight:bold;font-size:12px;line-height:38px;color:#3db39e;padding:0 1px 0 5px}
.btn_close{display:none}
.area_menu .ico_cate{width:10px;height:6px;margin:-2px 0 0 53px;background-position:0 -50px;vertical-align:middle}
.area_menu .list_cate{display:none;position:absolute;top:37px;left:0;width:158px;padding:18px 0 10px;border:1px solid #3db39e;border-radius:0 0 3px 3px;background-color:#fff}
.area_menu .on .list_cate{display:block}
.area_menu .on .ico_cate { background-position: 0 -658px; }
.area_menu .link_cate{display:block;padding-left:17px;margin-bottom:12px;font-size:12px;color:#333}

.area_navi .list_cate ul li { line-height:18px }
.area_navi .list_cate ul li a { display:block;padding-left:17px;margin-bottom:12px;font-size:12px;color:#333;height:17px }
.area_navi .list_cate ul li.selected > a,
.area_navi .list_cate ul li a:hover { text-decoration:underline;color:#3db39e }
.area_navi .list_cate .c_cnt, .area_navi .list_cate img { display:none }
.area_navi .list_cate ul li ul li a {  }
.area_navi .list_cate ul li ul li ul { padding-bottom:6px; margin-top:-6px }
.area_navi .list_cate ul li ul li ul li { color:#b4b4b4; padding-left:21px }
.area_navi .list_cate ul li ul li ul li a { padding-left:0;margin-bottom:6px;font-size:12px;color:#666 }
.area_navi .list_cate ul li ul li ul li a::before { content:'· ' }
.area_navi .list_cate .menu_profile { display:none }

.area_list .tit_category{ position:fixed; top:1px; width:50%; left:25%; line-height:80px; text-align:center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;z-index:21}
.tit_category .link_category{font-size:20px; font-weight:bold;color:#3db39e}
.tit_category .link_category:hover{text-decoration:none}
.dimmed_layer{ position:fixed; top:0; bottom:0; left:0; right:0; display:none; z-index:30}
.area_head .btn_menu{display:none}

